html{
    background-color: #f6f6f6f6;
}

.hidden-section {
    display: none;
    padding: 20px;
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
    font-size: 8.75vw;

}
header a#info-button {
    float: right;
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 10px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-size: 8.75vw;
    color: #000; 
}

#home-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 1rem; 
}

#additional-info {
    font-size: 1rem;
    margin-top: 10px; 
}

p,p a{
    font-size: 1.625rem;
    line-height: 2rem;
}

.popup h2{
    font-size: 5vw;
}

.popup p{
    font-size: 1.75;
}

.hobby {
    display: flex;
    align-items: center;
  }
  
  .hobby span {
    margin-right:20%;
  }
  
  
  
  .balken{
    background-color: grey;
    margin:1px ;
    height: 0.5%;
    width: 100%;
  }
  
  .info_체ber_mich{
    flex: 1;
    margin-right: 4vw;
  }
  .nichts{
    flex: 1;
    margin-right: 4vw;
  }

  .abstand{
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .ausbil_teil1{
    display: flex;

  }
  .ausbil_text{
    flex:3;

  }

  .game_name{
    margin-top: 0.5%;
    font-size: 0.9rem;
    text-transform: uppercase;
    position: relative;
    text-align: center;
  }
  .unterstrich_snake {
    display: flex;
    justify-content: center;
    background-color: #000;
    width: 60%;
    height: 4px;
    margin: 0 auto;
    margin-top: 0.5%;
}

  .game-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }

.popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%; 
    background-color: #95c2c8;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
} 

.das_bin_ich{
    font-size: 2cqw;
    text-transform: uppercase;
    position: relative;
    flex: 1;
    margin-right: 4vw;
  
    text-align: center;
}

.bild_lars{

    flex: 1;
    margin-right: 4vw;
}

.bild_lars img {
    max-width: 100%;
    height: auto;

}
.tren_strich{
    margin-right: 4vw;
    flex:3;
    margin-bottom: 7%;
    margin-top: 3%;
    
}
.tren_l채nge{
    background-color: #000;
    width: 100%;
    height: 4px;


}

._{
    background-color: #000;
    width: 100%;
    height: 4px;
    
}

.체ber_web_teil1{
    display: flex;
}
.andere_web{
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}
.체ber_web_text{
    flex:3;

}
.andere_web_str{
    background-color: #000;
    width: 55%;
    height: 4px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.link{
    font-size: 0.9rem;
}

.image-container {
    display:flex;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
.bild{
    flex:200;
}
.unterstrich {
    display: flex;
    justify-content: center;
    background-color: #000;
    width: 60%;
    height: 4px;
    margin: 0 auto;
    margin-top: 1.5%;
}
.zwischenstrich_div{
    flex:1;
    margin: 0 auto;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
    align-items: center; 

}
.zwischenstrich_ent1{
    background-color: #000;
    width: 4px;
    height: 90%;

}
.zwischenstrich_ent2{
    background-color: #000;
    width: 4px;
    height: 80%;

}
.zwischenstrich_div_hor{
    flex:1;
    margin: 0 auto;
    display: flex;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    align-items: center; 
    justify-content: center;
}
.zwischenstrich_ent2_hor{
    background-color: #000;
    width: 85%;
    height: 4px;

}



.image-title {
    margin-top: 3%;
    font-size: 2cqw;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}
.schrift{
    font-size: 50px;
    display: inline-block;
    margin: 0; }
.text_bild{
    font-size: 1.25rem;
    margin-bottom: 3%;
    text-align: center;

}

@media screen and (min-width: 500px) {
    div.fehler{
      display: none;
    }
  }